<!DOCTYPE>
<html>
  <head>
    <title>GetMe</title>
  </head>
  <body>
    <h1> email: {{ email }}</h1>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
